requests
edge-tts
vosk
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
tweepy
Pillow
moviepy==1.0.3
vk_api
python-dotenv
numpy
imageio
imageio-ffmpeg
decorator
proglog
tqdm
opencv-python
